html {
    width: 1280px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
}

body {
    margin: 0;
}

header {
    display: flex;
    background: #011827;
    height: 216px;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    color: #FFFFFF;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    display: inherit;
    font-size: 36px;
    text-align: center;
    margin-block: 0px;
    margin-bottom: 87px;
}

h3 {
    display: inherit;
    margin-block: 0;
    font-size: 28px;
    margin: 12px auto 0 17px;
}

h4 {
    display: inherit;
    margin-block: 0;
    margin-bottom: 7px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-inline-start: 0px;
    margin-block: 0;
    margin-inline: 0;
}

p {
    display: inherit;
    font-weight: normal;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

figcaption {
    font-style: italic;
    font-weight: normal;
}

cite {
    font-style: normal;
    display: flex;
    font-size: 18px;
    margin-top: 10px;
}

.header__logo {
    display: inherit;
    align-items: flex-end;
}

.menu_img {
    display: none;
}

.close_img {
    display: none;
}

.logo_Img img {
    margin: 26px 24px 0 27px;
}

.navbar__ul {
    margin-top: 55px;
}

.navbar__ul li a {
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    font-weight: normal;
}

.mainImg__image {
    height: 468px;
    background-image: url("./[Esc] Escape Rooms/image 2.png");
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.mainImg__ul {
    margin-bottom: -40px;
}

.mainImg__ul li {
    margin-inline: 16px;
}

.mainImg__ul li a {
    width: 308px;
    height: 66px;
    font-size: 24px;
    border-radius: 4px;
}

.online_link {
    color: white;
    background: #E3170A;
}

.onsite_link {
    color: #011827;
    background: #8ACFE5;
}

.section_user_Cards {
    margin: 144px 107px 108px 110px;
    display: flex;
    justify-content: space-between;
}

.user_card {
    margin-block: 0;
    margin-inline: 0;
    box-sizing: border-box;
    width: 485px;
    display: inherit;
    align-items: center;
    text-align: justify;
    font-size: 24px;
}

.user_card img {
    width: 96px;
    height: 107px;
    padding-right: 15px;
}

.popular_Cards {
    display: flex;
    height: 446px;
    align-items: stretch;
    margin: 0px 54px 0px 54px;
    justify-content: space-between;
}

.single_Card {
    display: flex;
    flex-direction: column;
    width: 363px;
    padding: 0px;
    margin: 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.single_Card h3 {
    font-weight: normal;
}

.card_img_Area {
    width: 100%;
    height: 219px;
    background-image: url("./[Esc] Escape Rooms/image 3 (1).png");
    flex-direction: row-reverse;
    justify-content: space-between;
}

.card_info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px 0 15px;
}

.card_info p {
    font-size: 14px;
}

.stars {
    width: 110px;
    display: inherit;
    justify-content: space-between;
}

.stars img {
    width: 16px;
    height: 14px;
}

.text_info {
    text-align: justify;
    padding: 0 15px 0 15px;
}

.booking_link {
    width: 179px;
    height: 44px;
    font-size: 16px;
    background: #E3170A;
    border-radius: 4px;
    color: white;
    align-self: flex-end;
    margin-right: 11px;
    margin-bottom: 12px;
}

.below_cards_ul {
    margin: 87px 0 87px 0;
    justify-content: center;
}

.below_cards_ul li {
    margin-inline: 9px;
}

.below_cards_ul li a {
    width: 308px;
    height: 66px;
    font-size: 24px;
    border-radius: 4px;
}

.full_story {
    height: 500px;
    background: #011827;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full_story p {
    color: #FFFFFF;
    font-size: 28px;
    width: 632px;
    text-align: center;
}

.full_story a {
    width: 308px;
    height: 66px;
    font-size: 24px;
    border-radius: 4px;
    color: #8ACFE5;
    border: 2px solid #8ACFE5
}

.grid_row1 {
    display: flex;
    height: 460px;
    align-items: stretch;
}

.grid_row2 {
    display: flex;
    flex-direction: row-reverse;
    height: 460px;
    align-items: stretch;
}

.row1_img {
    width: 50%;
    background-image: url("./[Esc] Escape Rooms/image 4.png");
}

.row2_img {
    width: 50%;
    background-image: url("./[Esc] Escape Rooms/image 5.png");
}

.grid_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid_text h3 {
    color: #011827;
    font-size: 32px;
    width: 416px;
    text-align: left;
    margin: 0;
}

.grid_text p {
    color: #011827;
    font-size: 24px;
    width: 416px;
    text-align: left;
}

.grid_text a {
    width: 308px;
    height: 66px;
    font-size: 24px;
    border-radius: 5px;
    color: white;
    background: #E3170A;
}

.grid {
    margin-bottom: 182px;
}

footer {
    color: white;
    height: 329px;
    background: #011827;
    display: flex;
    font-size: 18px;
    padding: 147px 206px 0 108px;
    justify-content: left;
    margin-top: 0;
}

footer a {
    font-weight: normal;
    margin: 0;
}

.left_text {
    display: inherit;
    flex-direction: column;
    margin-right: 232px;
}

.mid_text {
    display: inherit;
    flex-direction: column;
    margin-right: auto;
    margin-top: 0;
    align-items: flex-start;
}

.right_text {
    display: inherit;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
}

.left_text p {
    width: 416px;
    margin-block-start: 0;
    margin-top: 0;
}

@media screen and (max-width: 480px) {
    html {
        width: 480px;
    }
    header {
        height: 144px;
    }
    h1 {
        font-size: 24px;
        width: 78px;
    }
    h2 {
        font-size: 32px;
        font-weight: normal;
        margin-bottom: 44px;
    }
    ul {
        flex-direction: column-reverse;
    }
    .logo_Img img {
        width: 128px;
        height: 82px;
        margin: 26px 13px 0 27px;
    }
    .menu_img {
        display: inherit;
        position: absolute;
        left: 85vw;
        top: 28px;
    }
    .navbar__div {
        display: flex;
        position: absolute;
        background: #011827;
        width: 440px;
        height: 914px;
        margin: 23px 20px;
        justify-content: center;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
        /**********************************************************************************************/
        display: none;
        /**********************************************************************************************/
    }
    .close_img {
        display: inherit;
        position: absolute;
        height: 40px;
        width: 38px;
        left: 375px;
        top: 25px;
    }
    .navbar__div .navbar__ul {
        margin: 35vh 0;
        flex-direction: column;
        justify-content: space-between;
    }
    .navbar__ul li a {
        font-size: 36px;
        font-weight: bold;
    }
    .mainImg__image {
        height: 274px;
        background-image: url("./[Esc] Escape Rooms/m\ image\ 2.png");
        justify-content: flex-start;
    }
    .mainImg__ul {
        margin-bottom: -169px;
        margin-left: 91px;
    }
    .mainImg__ul li {
        margin-inline: 0;
    }
    #online_link {
        color: #011827;
        background: none;
        text-decoration: underline;
        font-size: 16px;
    }
    .section_user_Cards {
        margin: 220px 20px 67px 21px;
    }
    .section_user_Cards>:last-child {
        display: none;
    }
    .user_card {
        width: 440px;
        align-items: center;
    }
    .user_card img {
        align-self: flex-start;
        width: 72px;
        height: 73px;
        padding-right: 22px;
    }
    .popular_Cards {
        display: inline-flex;
        width: 100vw;
        height: auto;
        margin: 0px;
        margin-bottom: 47px;
        margin-left: 52px;
        flex-flow: row nowrap;
        justify-content: flex-start;
        overflow: hidden;
    }
    .single_Card {
        box-sizing: border-box;
        height: 446px;
        margin-right: 38px;
    }
    .card_info {
        justify-content: center;
    }
    .stars {
        margin-right: 16px;
    }
    .text_info {
        margin-block: 0;
        padding: 4px 18px 23px 18px;
        font-size: 18px;
    }
    .below_cards_ul {
        margin: 0;
        margin-left: 91px;
        margin-bottom: 32px;
    }
    .below_cards_ul li {
        margin-inline: 0px;
    }
    .full_story p {
        width: 440px;
        margin-block: 0;
        margin-top: 95px;
    }
    .full_story a {
        margin-top: 42px;
    }
    .grid_row1 {
        display: block;
        height: 703px;
    }
    .grid_row2 {
        display: block;
        height: 703px;
    }
    .row1_img {
        height: 300px;
        width: auto;
        background-image: url("./[Esc] Escape Rooms/m image 4 (2).png");
        background-repeat: no-repeat;
    }
    .row2_img {
        height: 300px;
        width: auto;
        background-image: url("./[Esc] Escape Rooms/m image 5.png");
        background-repeat: no-repeat;
    }
    .grid_text {
        height: 403px;
        width: auto;
    }
    .grid_text h3 {
        width: 440px;
    }
    .grid_text p {
        width: 440px;
        font-weight: normal;
        margin-block: 0;
        margin-top: 32px;
        margin-bottom: 50px;
    }
    .grid_text a {
        align-self: flex-start;
        justify-self: flex-end;
        margin-left: 21px;
    }
    .grid {
        margin-bottom: 0;
    }
    footer {
        height: 566px;
        flex-direction: column;
        padding: 64px 20px 0 22px;
        margin-top: 34px;
    }
    footer a {
        margin: 3px 0 2px 0;
    }
    .left_text {
        margin-right: auto;
    }
    .mid_text {
        margin-top: 40px;
    }
    .right_text {
        margin-top: 47px;
    }
    .left_text p {
        width: 438px;
        margin-block: 0;
        font-weight: normal;
        margin-top: 7px;
    }
}